/*-------------------------------------------------
SMACSS: BASE
-------------------------------------------------*/
body {
    background: #F5F3F3;
    color: #ced9e0;
    font-family: $font-OpenSans;
		font-size: 14px;
		@include mq($from: base, $until: tablet) {
  		background-color: $material-blue;
  	}
		@include mq($from: tablet, $until: desktop) {
  		background-color: $material-pink;
  	}
}

//	Enlaces
//--------------------------------
a {
  	color: $color-gray;
		text-decoration: none;
}

//	Listas 
//--------------------------------
li {
	list-style: none;
}

//	Inputs 
//--------------------------------
::-webkit-input-placeholder {
   color: $color4;
}

:-moz-placeholder { /* Firefox 18- */
   color: $color4; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $color4;  
}

:-ms-input-placeholder {  
   color: $color4;  
}