@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?rbn464');
    src:    url('../fonts/icomoon.eot?rbn464#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?rbn464') format('truetype'),
        url('../fonts/icomoon.woff?rbn464') format('woff'),
        url('../fonts/icomoon.svg?rbn464#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-list2:before {
    content: "\e90e";
}
.icon-arrow-left:before {
    content: "\e900";
}
.icon-arrow-right:before {
    content: "\e901";
}
.icon-toggle:before {
    content: "\e902";
}
.icon-calificacion:before {
    content: "\e903";
}
.icon-generos:before {
    content: "\e905";
}
.icon-recomendadas:before {
    content: "\e906";
}
.icon-favoritas:before {
    content: "\e907";
}
.icon-populares:before {
    content: "\e908";
}
.icon-recientes:before {
    content: "\e909";
}
.icon-hamburguer:before {
    content: "\e90a";
}
.icon-facebook:before {
    content: "\e90b";
}
.icon-instagram:before {
    content: "\e90c";
}
.icon-twitter:before {
    content: "\e90d";
}


