
/*-------------------------------------------------
SMACSS: LAYOUT - HEADER
-------------------------------------------------*/
header {}

main {
	padding-left: 240px;
}
/*-------------------------------------------------
SMACSS: LAYOUT - SECTION
-------------------------------------------------*/
section {}

/*-------------------------------------------------
SMACSS: LAYOUT - FOOTER
-------------------------------------------------*/
footer {
  color: $color-gray;
  font-size: 11px;
  text-align: center;
  padding: 10px;
  width: 100%;
}


/*-------------------------------------------------
SMACSS: LAYOUT - Colores
-------------------------------------------------*/
.pink {color: $material-pink;}
.purple {color: $material-purple;}
.blue {color: $material-blue;}
.yellow {color: $color3;}

/*-------------------------------------------------
SMACSS: LAYOUT - CONTAINER
-------------------------------------------------*/
.container {
	width: 90%;
	margin: auto;
}

/*-------------------------------------------------
SMACSS: LAYOUT - SIDEBAR
-------------------------------------------------*/
.sidebar {
	width: 240px;
	height: 100%;
	box-sizing: border-box;
	background-color: $color-white;
	position: fixed;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	z-index: 50;
}

//-- Logo -->
.sidebar__logo {
	 display: flex;
   justify-content: center;
   padding: 2em 0 3em;
	img {
		width: 130px;
		height: 40px;
	}
}

//-- Buscador -->
.sidebar__search {
	background: url("../images/ico-search.png") no-repeat 170px center;
	width: 200px;
	height: 35px;
	border: none;
	box-sizing: border-box;
	margin: 0px 20px;
	margin-bottom: 3em;
	color: #CEE0EB;
	outline: none;
	padding-left: 10px;
	-webkit-transition: all .5s;
	transition: all .5s;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	&:focus {
		box-shadow: 0 4px 10px 0 rgba(0,0,0,0.16),0 4px 20px 0 rgba(0,0,0,0.12);
	}
}

//-- Menu -->
.sidebar__navbar {
  border-top: 1px solid $color-light-gray;
	li {
		position: relative;
	}
	li a {
    display: flex;
    align-items: center;
		padding: 1em 2em;
    font-size: 16px;
		transition: all .3s ease-out;
		&:hover {
			color: $color-white;
			background-color: $color1;
		}
		i {
			font-size: 22px;
			margin-right: 10px;
		}
	}
}


//-- Menu Generos -->
.sidebar__generos {
	transition: all .5s;
	position: absolute;
	width: 100%;
	left: -240px;
	li {
		padding: 1em 3em;
		font-size: 14px;
		color: $color-gray;
    cursor: pointer;
		&:first-child {
			border-top: 1px solid $color-light-gray;
		}
		i {
			margin-right: 10px;
		}
		span {
			background-color: transparent;
			font-size: 12px;
			font-weight: bold;
    	color: #a3a4a5;
    	padding: 0 6px;
   	 	border: 2px solid #a3a4a5;
   		border-radius: 10px;
			margin-left: 10px;
		}
	}
}

.show {
	left: 0;
}


/*-------------------------------------------------
SMACSS: LAYOUT - Contenido
-------------------------------------------------*/

.content {}

//--Content poster -->
.content__poster {
	img {
		width: 100%;
	}
}

//--Content bar -->
.content__bar {
	background-color: $color1;
	color: $color-white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 3em;
	margin-top: -2px;
	&--download {
		color: $color-white;
		border: 2px solid $color-white;
		border-radius: 16px;
		padding: 0.5em 1em;
		&:hover {
			background-color: $color-white;
			color: $color1;
		}
	}
	p {
		font-weight: bold;
	}
	&--redes {
		display: flex;
		li a {
			display: block;
			border: 1px solid $color-white;
			border-radius: 50%;
			padding: 5px;
    	color: $color-white;
    	margin-right: 1em;
			transition: all .2s ease-out;
			&:hover {
				background: $color-white;
				color: $color1;
			}
		}
	}
}

//--Content movies -->
.content__movies {
	padding: 3em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	&--description {
		width: 190px;
		box-sizing: border-box;
		position: absolute;
		top: 15px;
    right: -190px;
    z-index: 1;
		padding: 1em;
		background-color: $color-white;
		opacity: 0;
		border-radius: 5px;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		&:after {
			content: '';
			width: 0;
			height: 0;
			z-index: 1;
			border-style: solid;
			border-width: 10px 15px 10px 0;
			border-color: transparent #fff transparent transparent;
			position: absolute;
    	top: 15px;
    	left: -12px;
		}
		h3 {
			font-size: 16px;
    	font-weight: bold;
    	color: #E91E63;
   	 	margin-bottom: 10px;
		}
	}
	li {
		margin-bottom: 3em;
		position: relative;
		cursor: pointer;
		img {
			box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
			transition: all .2s;
			&:hover {
				box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.4);
				background-color: red;
			}
		}
	}
	.calificacion {
		margin-top: 10px;
	}
}

//--Description hover -->
.content__movies li:hover .content__movies--description {
	visibility: visible;
	opacity: 1;
}

.content__movies li:nth-child(5):hover .content__movies--description {
	position: absolute;
	left: -190px;
	&:after {
		position: absolute;
    top: 15px;
		left: 187px;
    border-color: transparent transparent transparent #FFFFFF;
    border-width: 10px 0px 10px 15px;
	}
}