/*-------------------------------------------------
SMACSS: VARIABLES
-------------------------------------------------*/
/* Colores */
$color-white: #fff;
$color-black: #000;
$color-red: #e85151;
$color-gray: #A3A4A5;
$color-light-gray: #f1f1f1;

/* Material */
$material-red: #F44336;
$material-pink: #E91E63;
$material-purple: #9C27B0;
$material-blue: #2196F3;
$material-gray: #607D8B;
$material-yellow: #FFEB3B;

/* Colores del sitio */
$color1: #18a5e6;
$color2: #f24674;
$color3: #ffb972;
$color4: #CEE0EB;

/* Fuente */
$font-OpenSans: 'Open Sans', 'Arial', sans-serif;
