/* -----------------------------------------------------------------------
Version: 0.1

SMACSS [Scalable Modular Architecture for CSS]
Reference: http://smacss.com/

Categorizing:
1. Base  - Defaults elements, attribute selectors, pseudo-class selectors styling [example: body, form, a]
2. Layout  - Divide the page into sections [example: header, footer] [prefix: l-]
3. Modules - Reusable, Modular parts of design [example: sidebar, popup] [prefix: module-]
4. State - How our module or layouts look in particular state [example: expanded, active] [prefix: is-]
5. Theme - Look and feel of subcomponent based on theme [example: dark, light] [prefix: theme-]
6. Pages   - Page specific styles. [prefix: page-]
----------------------------------------------------------------------- */
/*-------------------------------------------------
MASTER: IMPORTING STYLESHEETS
-------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*-------------------------------------------------
SMACSS: VARIABLES
-------------------------------------------------*/
/* Colores */
/* Material */
/* Colores del sitio */
/* Fuente */
/*
TODO ::
[] Integrate Bourbon to make use of most mixins - http://bourbon.io/docs/
*/
/*-------------------------------------------------
 MIXIN :: CLEARFIX
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: PIXEL TO EM CONVERTOR
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: BORDER RADIUS
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: TRANSITION
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: BOX SHADOW
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: SCALE - TRANSFORM
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: ROTATE - TRANSFORM
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: FONT STYLE
-------------------------------------------------*/
/*-------------------------------------------------
SMACSS: BASE
-------------------------------------------------*/
body {
  background: #F5F3F3;
  color: #ced9e0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px; }
  @media (max-width: 46.24em) {
    body {
      background-color: #2196F3; } }
  @media (min-width: 46.25em) and (max-width: 61.24em) {
    body {
      background-color: #E91E63; } }

a {
  color: #A3A4A5;
  text-decoration: none; }

li {
  list-style: none; }

::-webkit-input-placeholder {
  color: #CEE0EB; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #CEE0EB; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #CEE0EB; }

:-ms-input-placeholder {
  color: #CEE0EB; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?rbn464");
  src: url("../fonts/icomoon.eot?rbn464#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?rbn464") format("truetype"), url("../fonts/icomoon.woff?rbn464") format("woff"), url("../fonts/icomoon.svg?rbn464#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-list2:before {
  content: "\e90e"; }

.icon-arrow-left:before {
  content: "\e900"; }

.icon-arrow-right:before {
  content: "\e901"; }

.icon-toggle:before {
  content: "\e902"; }

.icon-calificacion:before {
  content: "\e903"; }

.icon-generos:before {
  content: "\e905"; }

.icon-recomendadas:before {
  content: "\e906"; }

.icon-favoritas:before {
  content: "\e907"; }

.icon-populares:before {
  content: "\e908"; }

.icon-recientes:before {
  content: "\e909"; }

.icon-hamburguer:before {
  content: "\e90a"; }

.icon-facebook:before {
  content: "\e90b"; }

.icon-instagram:before {
  content: "\e90c"; }

.icon-twitter:before {
  content: "\e90d"; }

/*-------------------------------------------------
SMACSS: LAYOUT - HEADER
-------------------------------------------------*/
main {
  padding-left: 240px; }

/*-------------------------------------------------
SMACSS: LAYOUT - SECTION
-------------------------------------------------*/
/*-------------------------------------------------
SMACSS: LAYOUT - FOOTER
-------------------------------------------------*/
footer {
  color: #A3A4A5;
  font-size: 11px;
  text-align: center;
  padding: 10px;
  width: 100%; }

/*-------------------------------------------------
SMACSS: LAYOUT - Colores
-------------------------------------------------*/
.pink {
  color: #E91E63; }

.purple {
  color: #9C27B0; }

.blue {
  color: #2196F3; }

.yellow {
  color: #ffb972; }

/*-------------------------------------------------
SMACSS: LAYOUT - CONTAINER
-------------------------------------------------*/
.container {
  width: 90%;
  margin: auto; }

/*-------------------------------------------------
SMACSS: LAYOUT - SIDEBAR
-------------------------------------------------*/
.sidebar {
  width: 240px;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
  position: fixed;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 50; }

.sidebar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em 0 3em; }
  .sidebar__logo img {
    width: 130px;
    height: 40px; }

.sidebar__search {
  background: url("../images/ico-search.png") no-repeat 170px center;
  width: 200px;
  height: 35px;
  border: none;
  box-sizing: border-box;
  margin: 0px 20px;
  margin-bottom: 3em;
  color: #CEE0EB;
  outline: none;
  padding-left: 10px;
  -webkit-transition: all .5s;
  transition: all .5s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  .sidebar__search:focus {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16), 0 4px 20px 0 rgba(0, 0, 0, 0.12); }

.sidebar__navbar {
  border-top: 1px solid #f1f1f1; }
  .sidebar__navbar li {
    position: relative; }
  .sidebar__navbar li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1em 2em;
    font-size: 16px;
    -webkit-transition: all .3s ease-out;
            transition: all .3s ease-out; }
    .sidebar__navbar li a:hover {
      color: #fff;
      background-color: #18a5e6; }
    .sidebar__navbar li a i {
      font-size: 22px;
      margin-right: 10px; }

.sidebar__generos {
  -webkit-transition: all .5s;
          transition: all .5s;
  position: absolute;
  width: 100%;
  left: -240px; }
  .sidebar__generos li {
    padding: 1em 3em;
    font-size: 14px;
    color: #A3A4A5;
    cursor: pointer; }
    .sidebar__generos li:first-child {
      border-top: 1px solid #f1f1f1; }
    .sidebar__generos li i {
      margin-right: 10px; }
    .sidebar__generos li span {
      background-color: transparent;
      font-size: 12px;
      font-weight: bold;
      color: #a3a4a5;
      padding: 0 6px;
      border: 2px solid #a3a4a5;
      border-radius: 10px;
      margin-left: 10px; }

.show {
  left: 0; }

/*-------------------------------------------------
SMACSS: LAYOUT - Contenido
-------------------------------------------------*/
.content__poster img {
  width: 100%; }

.content__bar {
  background-color: #18a5e6;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 3em;
  margin-top: -2px; }
  .content__bar--download {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 16px;
    padding: 0.5em 1em; }
    .content__bar--download:hover {
      background-color: #fff;
      color: #18a5e6; }
  .content__bar p {
    font-weight: bold; }
  .content__bar--redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .content__bar--redes li a {
      display: block;
      border: 1px solid #fff;
      border-radius: 50%;
      padding: 5px;
      color: #fff;
      margin-right: 1em;
      -webkit-transition: all .2s ease-out;
              transition: all .2s ease-out; }
      .content__bar--redes li a:hover {
        background: #fff;
        color: #18a5e6; }

.content__movies {
  padding: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .content__movies--description {
    width: 190px;
    box-sizing: border-box;
    position: absolute;
    top: 15px;
    right: -190px;
    z-index: 1;
    padding: 1em;
    background-color: #fff;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
    .content__movies--description:after {
      content: '';
      width: 0;
      height: 0;
      z-index: 1;
      border-style: solid;
      border-width: 10px 15px 10px 0;
      border-color: transparent #fff transparent transparent;
      position: absolute;
      top: 15px;
      left: -12px; }
    .content__movies--description h3 {
      font-size: 16px;
      font-weight: bold;
      color: #E91E63;
      margin-bottom: 10px; }
  .content__movies li {
    margin-bottom: 3em;
    position: relative;
    cursor: pointer; }
    .content__movies li img {
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
      -webkit-transition: all .2s;
              transition: all .2s; }
      .content__movies li img:hover {
        box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.4);
        background-color: red; }
  .content__movies .calificacion {
    margin-top: 10px; }

.content__movies li:hover .content__movies--description {
  visibility: visible;
  opacity: 1; }

.content__movies li:nth-child(5):hover .content__movies--description {
  position: absolute;
  left: -190px; }
  .content__movies li:nth-child(5):hover .content__movies--description:after {
    position: absolute;
    top: 15px;
    left: 187px;
    border-color: transparent transparent transparent #FFFFFF;
    border-width: 10px 0px 10px 15px; }

/*-------------------------------------------------
SMACSS: PAGE - LANDING
-------------------------------------------------*/
